// Override / set color variables
$blue: #3399ff;
$orange: #f26c22;
$body-bg: rgb(248, 248, 248);
$body-color: #000;


$secondary: $orange;

$theme-colors: (
  "primary": #f26c22,
  "danger": #ff4136,
  "secondary": $blue,
);