body { min-height: 100vh; }
// Override / set color variables
$blue: #3399ff;
$orange: #f26c22;
$body-bg: rgb(248, 248, 248);
$body-color: #000;


$secondary: $orange;

$theme-colors: (
  "primary": #f26c22,
  "danger": #ff4136,
  "secondary": $blue,
);
.container-fluid {
    background-color: yellow;
}

.gallery {    
    
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;    
}

@media only screen and (max-width: 1500px) {
    body {
      background-color: lightgreen;
    }
    .gallery {    
       grid-template-columns: repeat(5, 1fr);   
    }
  }
  @media only screen and (max-width: 1020px) {
    body {
      background-color: lightgreen;
    }
    .gallery {    
       grid-template-columns: repeat(4, 1fr);   
    }
  }

  @media only screen and (max-width: 850px) {
    body {
      background-color: lightblue;
    }
    .gallery {    
        grid-template-columns: repeat(3, 1fr);   
     }
  }


@media only screen and (max-width: 720px) {
    body {
      background-color: lightblue;
    }
    .gallery {    
        grid-template-columns: repeat(2, 1fr);   
     }
  }

  @media only screen and (max-width: 600px) {
    body {
      background-color: blue;
    }
    .gallery {    
        grid-template-columns: repeat(1, 1fr);   
     }
  }